<div class="nested-fields">
    <div class=" form-group col-lg-5">
        <%= f.text_field :quantity_days, placeholder: "Qtde de Dias", class: "form-control" %>
    </div>
    <div class="form-group col-lg-5">
        <%= f.text_field :percentage_aplided, placeholder: "Coeficiente", class: "form-control" %>
    </div>
    <div class="form-group col-lg-2">
        <%= link_to_remove_association "Remover", f, class:"btn btn-danger" %>
    </div>
</div>