<div class="row">
    <div class="col-lg-6">
        <%= submit_tag 'Salvar', class: "btn btn-primary"  %>
        <%= link_to 'Voltar', location_composition_product_information_coverages_path(@information_coverage.composition_product_id), class: "btn btn-default" %>
    </div>
</div>