<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @location_cover.code %>
</p>

<%= link_to 'Edit', edit_location_cover_path(@location_cover) %> |
<%= link_to 'Back', location_covers_path %>
